modules = ["nodejs-20", "web", "bash", "python-3.11"]
[agent]
expertMode = true
integrations = ["resend:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["git-lfs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33337
externalPort = 3001

[[ports]]
localPort = 38033
externalPort = 4200

[[ports]]
localPort = 40967
externalPort = 3000

[[ports]]
localPort = 41157
externalPort = 3003

[[ports]]
localPort = 43153
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["node", "build/index.js"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
JWT_SECRET = "085c993c3f782b6af71df1ff4777458eeac5c14f435aab881707bf23ad0fea5f"
