.screensaver-overlay.svelte-v65kqb{position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:999999;background:black;cursor:none}.screensaver-video.svelte-v65kqb{width:100%;height:100%;-o-object-fit:cover;object-fit:cover}
